{% extends "template.html" %}
{% block content %}
<div class="container">
	<div class="jumbotron">
		<p>
		<form action="https://forms.brace.io/r2k0@hushmail.me" method="POST" class="form">
		</p>
		<p>
			<input type="text" name="email" class="input" placeholder="Email Address">
		</p>
		<p>
			<textarea type="text" name="content" class="input" placeholder="Message" rows="5" cols="50"></textarea>
		</p>
		<p>
		<input type="submit" class="btn btn-primary btn-lg" value="Send">
		</p>
		</form>
	</div>
</div>
{% endblock %}
