{% extends "template.html"%}
{% block content %}
<head>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
</head>
	<div id="map" style="height:100%;width:100%;" />
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=true"></script>
	<script src={{ url_for('static', filename='js/gmaps.js') }}></script>
	<script src={{ url_for('static', filename='js/app.js') }}></script>

{% endblock %}
